@{
    ViewBag.Title = "About Myself";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a senior in the College of Business at Ohio University. My majors are Management Information Systems and Business Analytics. I am originally from Cleveland, OH and I have two siblings.</p>
