@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Jessica Gregory<br />
    96 N Congress<br />
    <abbr title="Phone">P:</abbr>
    330.591.5376
</address>

<address>
    <strong>Support:</strong>   <a href="jg739415@ohio.edu">jg739415@ohio.edu</a><br />
</address>